<div class="container">
  <div class="jumbotron">
    <h1>Timezone Reminder</h1>
    <h3>Get your reminders from any time zone IN any time zone!</h3>
    </br>
    <%= link_to "Sign up now!", '\signup', class: "btn btn-primary btn-lg" %>
  </div>
</div>
