<!DOCTYPE HTML>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, it's time</h1>
    <p>
      <%= @reminder %>
    </p>

    <small>Thanks for using Timezone Reminder!</small>
  </body>
</html>
