<div class="container">
  <div class="row-responsive">
    <aside class="col-sm-2">
      <h1 id="user-grav">
        <%= @user.name %></br>
        <%= gravatar_for @user %>
      </h1>
    </aside>
      <div class="col-sm-8">
        <div class="well" id="reminder-well">
          <h3>Reminders: <%= @user.reminders.count %></h3>
          <% if @user.reminders.any? %>
            <ol class="reminders">
              <%= render @reminders %>
            </ol>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
