@import "bootstrap";

/* Header */

/* Footer */
.footer {
  margin-top: 30px;
  padding-top: 20px;
  padding-left: 5%;
  border-top: 1px solid #ccc;
  color: #777;
  line-height: 7px;
}

/* Errors */
#error_explaination {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_wth_errors {
  @extend .control-group;
  @extend .error;
}

/* Forms */
.container {
  /*padding: 0 5%;*/
  width: 100%
}

.jumbotron {
  text-align: center;
  h2{
    text-align: left;
  }
  h3{
    color: #777;
  }
  p{
    text-align: left;
  }
  background-color: #ddd;
}

#user-grav{
  text-align: center;
  line-height: 50px;
}

#reminder-well{
  margin-top: 30px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.signup-form {
  height: 35px;
  padding: 10px;
  border-radius: 4px;
}

#signup-button {
  margin-top: 20px;
}

/* Reminders */
.reminders{
  list-style: none;

  li{
    border-top: 1px solid #999;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .content{
    line-height: 30px;
  }
}
