@import "bootstrap";

/*h2 {
  text-align: left;
}

h3 {
  color: #777;
}

p{
  text-align: left;
}*/

/*Header*/

/*Footer*/
.footer {
  padding-left: 5%;
}

.container {
  padding: 0 5%;
}

.jumbotron {
  text-align: center;
  h2{
    text-align: left;
  }
  h3{
    color: #777;
  }
  p{
    text-align: left;
  }
  background-color: #ddd;
}
